stages:
- validate

variables:
  TF_VERSION: "0.12.19"
  AWS_DEFAULT_REGION: eu-central-1

validate ecs:
  stage: validate
  image:
    name: hashicorp/terraform:$TF_VERSION
    entrypoint: [""]
  variables:
  script: |
    cd ecs/terraform
    terraform init
    terraform plan -input=false
  tags:
  - linux

validate nomad:
  stage: validate
  image:
    name: hashicorp/terraform:$TF_VERSION
    entrypoint: [""]
  variables:
  script: |
    cd hashistack/terraform
    terraform init
    terraform plan -input=false
  tags:
  - linux

